<!DOCTYPE html>
<html>

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>eMedik</title>
 <link rel="icon" type="images/png" href="image/logo_2.svg">
 <link rel="stylesheet" href="index.css">
</head>

<body>
 <div class="container">
 <header class="header">
 <div class="header_logo">
 <img class="logo" src="image/logo_2.svg" alt="logo">
 </div>
 <div class="nav_bar">
 <div class="dropdown">
 <a href="/" class="dropbtn">Home</a>
 </div>
 <div class="dropdown">
 <a class="dropbtn">Log In</a>
 <div class="dropdown-content">
 <a href="patient-login-page.html">Patients</a>
 <a href="hospital-login-page.html">Hospital Admin</a>
 </div>
 </div>
 <div class="dropdown">
 <a class="dropbtn">Sign Up</a>
 <div class="dropdown-content">
 <a href="/patient-signup">Patients</a>
 <a href="/hospital-signup">Hospital Admin</a>
 </div>
 </div>
 </div>
 </header>
 <div class="home_body">
 <img class="home_body_img" src="./image/group.jpg" alt="Home Body Image">
 <!-- <h1 class = "home_text1">Bridging the Gap between Hospitals and Patients</h1> -->
 </div>
 <div class="home">
 <div class="home_text">
 <h2 class="home_h2">Who we are</h2>
 <span class="hometext">Lorem ipsum dolor sit amet. Et maiores nostrum ut assumenda eligendi ex modi magnam
 qui quos nemo eos sint possimus.
 Eos nihil tenetur aut laboriosam doloribus ut magnam temporibus ex dolores labore est doloribus enim.
 Non iusto voluptatem aut earum dignissimos qui odio possimus rem iusto neque et pariatur error maiores
 ipsam.</span>
 </div>
 <div class="home_image">
 <img class="image" src="image/doc 1.svg" alt="Home Image">
 </div>
 </div>
 <footer class="footer">
 <div class="footer1">
 <div class="footer_start">
 <img src="image/logo_2.svg" alt="Footer Image">
 </div>
 <div class="footer_end">
 <div class="footer_end_details">
 Our Mission
 </div>
 <div class="footer_end_details">
 Privacy Policy
 </div>
 <div class="footer_end_details">
 Terms&Conditions
 </div>
 <div class="footer_end_details">
 Our Solutions
 </div>
 </div>
 </div>
 <div class="footer_copy">
 <span class="copy">Copyright &copy 2021. All rights reserved.</span>
 </div>

 </footer>
</div>
</body>
</html>
