/* body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.all{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('./image/group3.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 15px; 
    padding-bottom: 5px;
}
.main {
    background-color: #FFFFFF;
    width: 500px;
    height: 90vh;
    margin: 0 auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding-bottom: 10px;
}

.sign {
    padding-top: 40px;
    color: #94b4e2;
    font-weight: bold;
    font-size: 23px;
    align-content: center;
}

.un {
width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}

.form1 {
    padding-top: 40px;
}

.pass {
 width: 76%;
color: rgb(38, 50, 56);
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: rgba(136, 126, 126, 0.04);
padding: 10px 20px;
border: none;
border-radius: 20px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 46px;
text-align: center;
margin-bottom: 27px;
}

.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;    
}
.submit {
  cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background-color: #94b4e2;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #94b4e2;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }    
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
   }
    
   .all{
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.6),rgba(0,0,0,0.3),rgba(0,0,0,0.4)), url('./image/group3.jpg');
    height: 100vh;
    background-size:center;
    padding-top: 15px; 
    padding-bottom: 5px;
   }
   .main {
    background-color: #FFFFFF;
    width: 500px;
    height: 90vh;
    margin: 0 auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding-bottom: 10px;
   }
    
   .sign {
    padding-top: 40px;
    color: #94b4e2;
    font-weight: bold;
    font-size: 23px;
    align-content: center;
   }
    
   .un {
   width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   margin-bottom: 50px;
   margin-left: 46px;
   text-align: center;
   margin-bottom: 27px;
   }
    
   .form1 {
    padding-top: 40px;
   }
    
   .pass {
    width: 76%;
   color: rgb(38, 50, 56);
   font-weight: 700;
   font-size: 14px;
   letter-spacing: 1px;
   background: rgba(136, 126, 126, 0.04);
   padding: 10px 20px;
   border: none;
   border-radius: 20px;
   outline: none;
   box-sizing: border-box;
   border: 2px solid rgba(0, 0, 0, 0.02);
   margin-bottom: 50px;
   margin-left: 46px;
   text-align: center;
   margin-bottom: 27px;
   }
    
   .un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important; 
   }
   .submit {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background-color: #94b4e2;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
   }
    
   a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #94b4e2;
    text-decoration: none
   }
    
   @media (max-width: 1000px) {
    .main{
    background-color: #FFFFFF;
    width: 400px;
    height: 90vh;
    /* margin: 0 auto; */
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding-bottom: 10px;
    background-size: cover;
    background-position:center;
    }
    
   }
   @media (max-width: 600px) {
    .main{
    background-color: #FFFFFF;
    width: 300px;
    height: 85vh;
    /* margin: 0 auto; */
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    padding-bottom: 10px;
    background-size: cover;
    background-position:center;
    }
    
   }